@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  padding: 0;
  margin: 0;
}
body {
  /* background-color: #164B60; */
  text-align: center;
}
.flex-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-Wrapper-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.image {
  width: 380px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.container {
  width: 50%;
  margin-left: 50%;
  margin-right: 50%;
}
/* .container {
  width: 50%;
  margin-left: 50%;
  margin-right: 50%;
} */
.flex-1 {
  flex-grow: 1;
}

.form {
  margin-top: 20px;
  gap: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.input {
  height: 20px;
  padding: 5px;
  border-radius: 5px;
}
.input:hover {
  color: gray;
  scale: 1.01;
}
.btn{
  height: 35px;
  background-color: #3F2305;
  color: aliceblue;
  border-radius: 5px;
  margin-top: 5px;
}
/* 
.input::placeholder:hover {
  color: aliceblue;
  font-size: x-large;
}

h5 {
  font-size: 72px;
  color: #3F2305;
  
}
h5:hover{
    scale: 2.8;
} */
/* label {
  font-size: 24px;
  background: -webkit-linear-gradient(
    rgba(191, 63, 41, 1),
    white
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
  
} */
/* label:hover{
    scale: 1.15;
    color: aliceblue;
} */

/* .btn {
  margin-top: 10px;
  margin-top: 10px;
  height: 100px;
  border-color: forestgreen;
  background-color: forestgreen;
  border-radius: 10px;
  font-size: 2rem;
  color: aliceblue;
}
.btn:hover {
    background: -webkit-linear-gradient(
        rgba(191, 493, 11, 1),
        rgba(41, 158, 40, 1)
      );
  font-size: 2rem;
  color: gray;
  scale: 1.05;
}
.text{
    color: burlywood;
    font-size: 50px;
} */
